<div class="app-create-a-client">
   
   
   <form action="#">
    <h1><b>Create a client</b></h1>
    <br>
    <hr>
    <p><b>please fill in this formto create a client</b></p>
    <hr>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>

    <label for="repeat-password">Repeat Password:</label>
    <input type="password" id="repeat-password" name="repeat-password" placeholder="Repeat your password" required>
<br>
<hr>
    <input type="submit" value="Register">
</form>
</div>
