<div class="app-create-a-metting-schduele">
<form action="#">

    <h1>Create a Meeting Schedule</h1>
    <br>
    <hr>
    
    <label for="meeting-topic">Meeting Topic:</label>
    <input type="text" id="meeting-topic" name="meeting_topic" placeholder="Enter Meeting Topic" required>

    <label for="number-of-people">Number of People:</label>
    <input type="number" id="number-of-people" name="number_of_people" placeholder="Enter Number of People" required>

    
    <label for="meeting-date">Meeting Date:</label>
    <input type="date" id="meeting-date" name="meeting_date" required>
    <br>
    <br>
    <hr>
    <input type="submit" value="Schedule Meeting">
    <hr>
  </form>
</div>